@model IEnumerable<WDS.Models.CheckListApprovalPendingModel>
@{
    ViewBag.Title = "CheckListApprovalPending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">


    @if (TempData["message"] != null)
    {
        var msgType = TempData["messageType"];
        var msg = TempData["message"];
        if ((int)msgType == 1)
        {
            TempData["message"] = null;
            TempData["messageType"] = 0;
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Message: </strong> @msg
                <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </a>
            </div>

        }
        else if ((int)msgType == 2)
        {
            TempData["message"] = null;
            TempData["messageType"] = 0;
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Message: </strong> @msg
                <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </a>
            </div>

        }
        else if ((int)msgType == 3)
        {
            TempData["message"] = null;
            TempData["messageType"] = 0;
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Message: </strong> @msg
                <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </a>
            </div>
        }
    }

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-lg-8">Distributor Documents Approval Pending</div>
                        <div class="col-lg-4">
                            @*<span style="text-align: right">Total Retailer: 50</span>*@
                        </div>

                    </div>

                </div>
                <div class="card-body">
                    <div class="dataTables_scroll">
                        <table class="table table-striped table-bordered table-responsive-sm" id="tbl_doc_approval_pending">
                            <thead>
                                <tr>
                                    @*<th>#</th>*@
                                    <th>Distributor Code</th>
                                    <th>Distributor Name</th>
                                    <th>MOA</th>
                                    <th>MOC</th>
                                    <th>Bank Solvency</th>
                                    <th>TIN</th>
                                    <th>VAT</th>
                                    <th>Trade License</th>
                                    <th>Distributor & Nominee Info</th>
                                    <th>Status</th>
                                    <th>Varification Stutas</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Any())
                                {
                                    foreach (var model in Model)
                                    {
                                        <tr>
                                            @Html.HiddenFor(modelItem => model.CheckListId)
                                            @*<td></td>*@
                                            <td>@Html.DisplayFor(modelItem => model.DealerCode)</td>
                                            <td>@Html.DisplayFor(modelItem => model.DealerName)</td>
                                            <td>@Html.CheckBoxFor(modelItem => model.IsMoa)</td>
                                            <td>@Html.CheckBoxFor(modelItem => model.IsMoc)</td>
                                            <td>@Html.CheckBoxFor(modelItem => model.IsBs)</td>
                                            <td>@Html.CheckBoxFor(modelItem => model.IsTin)</td>
                                            <td>@Html.CheckBoxFor(modelItem => model.IsVat)</td>
                                            <td>@Html.CheckBoxFor(modelItem => model.IsTl)</td>
                                            <td>@Html.CheckBoxFor(modelItem => model.IsDother)</td>
                                            <td>
                                                @if (model.IsApproved == true)
                                                {
                                                    <span class="badge badge-success">Approved</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger">Not Approved</span>
                                                }
                                            </td>
                                            <td>
                                                @if (model.InvestigationStatus == "Partial")
                                                {
                                                    <span class="badge badge-warning">Partial</span>
                                                }
                                                else if (model.InvestigationStatus == "Approved")
                                                {
                                                    <span class="badge badge-success">Approved</span>
                                                }
                                                else if (model.InvestigationStatus == "Declined")
                                                {
                                                    <span class="badge badge-danger">Declined</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-light">No action taken</span>
                                                }
                                            </td>
                                            <td>

                                                @*@if (!model.IsApproved && model.IsMoa && model.IsMoc && model.IsBs && model.IsTin && model.IsVat && model.IsTl && model.IsDother)
                                {
                                    <input type="submit" value="Approve" class="btn btn-outline-info btn-sm" onclick="location.href = '@Url.Action("ApproveDoc", "Document", new {id = model.CheckListId})'" />
                                }*@


                                                <input type="button" class="btn btn-group-xs btn-outline-warning" value="Details" onclick="location.href = '@Url.Action("CreateDistributorCheckList", "Document", new { dealerCode = model.DealerCode })'" />

                                                @if (true)
                                                {
                                                    <input type="button" class="btn btn-sm btn-outline-info" value="Verify" onclick="location.href = '@Url.Action("BillFilesDetails", "Document", new { checkListId = model.CheckListId })'" />
                                                }


                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                   

                </div>
            </div>
        </div>
    </div>
</div>
    
<script type="text/javascript">
    $(function() {
        var pendingTable = $('#tbl_doc_approval_pending').DataTable();
    })
</script>

