@model IEnumerable<WDS.DAL.WdsEntities.DealerDistribution>
    @{
        ViewBag.Title = "ProductReceive";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header">Product Receive</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <label class=" col-md-4 text-sm-right">Select Model:</label>
                                <div class="col-md-8">
                                    @Html.DropDownList("model", new SelectList(ViewBag.modelList, "Value", "Text"), "Select Model", new { @class = "selectpicker show-tick form-control",@id="model", data_live_search = "true", })
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                                <div class="col-md-12 text-right">
                                    <input type="button" class="btn btn-outline-info" value="Receive" id="productReceiveSave" />
                                </div>
                        </div>
                    </div>
                    
                    <br />
                    <div class="row">
                        <table class="table table-bordered" id="productReceiveTable">
                            <thead>
                                <tr>
                                    <th>Dealer Code</th>
                                    <th>Model</th>
                                    <th>Imei One</th>
                                    <th>Imei Two</th>
                                    <th>Color</th>
                                    <th>
                                        Select All <br />
                                        <input type="checkbox" id="checkBoxSelectAll" class="checkbox" style="width: 20px; height: 20px;" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="ProductListTableBody">
                                @if (Model.Any())
                                {
                                    foreach (var model in Model)
                                    {
                                        <tr>

                                            <td style="display: none;">@Html.DisplayFor(modelItem => model.Id)</td>
                                            <td>@Html.DisplayFor(modelItem => model.DealerCode)</td>
                                            <td>@Html.DisplayFor(modelItem => model.Model)</td>
                                            <td>@Html.DisplayFor(modelItem => model.ImeiOne)</td>
                                            <td>@Html.DisplayFor(modelItem => model.ImeiTwo)</td>
                                            <td>@Html.DisplayFor(modelItem => model.Color)</td>
                                            <td style="display:none;">@Html.DisplayFor(modelItem => model.DistributionDate)</td>
                                            <td style="display:none;">@Html.DisplayFor(modelItem => model.IsDistributed)</td>
                                            <td style="display:none;">@Html.DisplayFor(modelItem => model.IsSoldOut)</td>
                                            <td style="display:none;">@Html.DisplayFor(modelItem => model.AddedDate)</td>
                                            <td style="display:none;">@Html.DisplayFor(modelItem => model.AddedBy)</td>
                                            <td style="display:none;">@Html.DisplayFor(modelItem => model.AddedById)</td>
                                            <td>
                                                <input type="checkbox" id="checkBoxId" class="checkbox" style="width: 20px; height: 20px;" />
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br/>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/Content/iziToast.min.css" rel="stylesheet" />
<script src="~/Scripts/iziToast.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        autoSelectAll();
        //Checkbox for selecting all
        $("#checkBoxSelectAll").on("click", function() {
            var isChecked = this.checked;
            $("#ProductListTableBody").find("input#checkBoxId").each(function() {
                this.checked = isChecked;
            });
        });


        $("#model").change(function() {
            var model = $("#model").val();
            $.ajax({
                type: 'GET',
                contentType: 'application/json',
                dataType: 'json',
                url: '@Url.Action("GetProductReceiveByModel", "Dealer")',
                data: { model: model },
                success: function(data) {

                    var productList = data.length;
                    $("#ProductListTableBody").html("");
                    for (var i = 0; i < productList; i++) {

                        var cSharpDistributionDate = data[i].DistributionDate;
                        var cSharpAddedDate = data[i].AddedDate;
                        var m = new Date(parseInt(cSharpDistributionDate.replace(/[^0-9 +]/g, '')));
                        var n = new Date(parseInt(cSharpAddedDate.replace(/[^0-9 +]/g, '')));
                        var distributiondateString = m.getUTCFullYear() + "/" + (m.getUTCMonth() + 1) + "/" + m.getUTCDate();
                        var addedDateString = n.getUTCFullYear() + "/" + (n.getUTCMonth() + 1) + "/" + n.getUTCDate();

                        $("#ProductListTableBody").append('<tr>' +
                            '<td style="display:none;">' +
                            data[i].Id +
                            '</td>' +
                            '<td>' +
                            data[i].DealerCode +
                            '</td>' +
                            '<td>' +
                            data[i].Model +
                            '</td>' +
                            '<td>' +
                            data[i].ImeiOne +
                            '</td>' +
                            '<td>' +
                            data[i].ImeiTwo +
                            '</td>' +
                            '<td>' +
                            data[i].Color +
                            '</td>' +
                            '<td style="display:none;">' +
                            distributiondateString +
                            '</td>' +
                            '<td style="display:none;">' +
                            data[i].IsDistributed +
                            '</td>' +
                            '<td style="display:none;">' +
                            data[i].IsSoldOut +
                            '</td>' +
                            '<td style="display:none;">' +
                            addedDateString +
                            '</td>' +
                            '<td style="display:none;">' +
                            data[i].AddedBy +
                            '</td>' +
                            '<td style="display:none;">' +
                            data[i].AddedById +
                            '</td>' +
                            '<td>' +
                            "<input type ='checkbox' class ='checkbox checkboxDelete' id='checkBoxId' style='width: 20px; height: 20px;' />" +
                            '</td>' +
                            '</tr>');
                    }
                    autoSelectAll();
                }
            });


        });

        $("#productReceiveSave").click(function() {
            var allProductInfo = [];
            allProductInfo.length = 0;
            $("#ProductListTableBody").find("input#checkBoxId").each(function() {
                if (this.checked == true) {
                    allProductInfo.push({
                        Id: $(this).parents('tr').find('td:eq(0)').text(),
                        DealerCode: $(this).parents('tr').find('td:eq(1)').text(),
                        Model: $(this).parents('tr').find('td:eq(2)').text(),
                        ImeiOne: $(this).parents('tr').find('td:eq(3)').text(),
                        ImeiTwo: $(this).parents('tr').find('td:eq(4)').text(),
                        Color: $(this).parents('tr').find('td:eq(5)').text(),
                        DistributionDateString: $(this).parents('tr').find('td:eq(6)').text(),
                        IsDistributed: $(this).parents('tr').find('td:eq(7)').text(),
                        IsSoldOut: $(this).parents('tr').find('td:eq(8)').text(),
                        AddedDateString: $(this).parents('tr').find('td:eq(9)').text(),
                        AddedBy: $(this).parents('tr').find('td:eq(10)').text(),
                        AddedById: $(this).parents('tr').find('td:eq(11)').text()
                    });
                }

            });
            if (allProductInfo.length > 0) {
                var dataList = JSON.stringify({ dealerDistributionList: allProductInfo });
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    dataType: 'json',
                    url: '@Url.Action("ProductReceiveSave", "Dealer")',
                    data: dataList,
                    success: function(data) {
                        if (data.isRedirect && data.m) {
                            window.setTimeout(function() {
                                window.location = data.redirectUrl;
                            }, 1000);
                            iziToast.success({
                                title: 'Success',
                                message: data.Message,
                            });
                        } else {
                            iziToast.error({
                                title: 'Error',
                                message: data.Message,
                            });
                        }
                    }
                });
            } else {
                iziToast.error({
                    title: 'Error',
                    message: 'Table Data Must Select!.',
                });
            }
        });
    });

    function autoSelectAll() {
        $("#checkBoxSelectAll").prop("checked", true);
        $("#ProductListTableBody").find("input#checkBoxId").each(function() {
            this.checked = true;
        });
    }

</script>
            