
@model WDS.Models.DistributorCheckListModel


@using (Html.BeginForm("CreateTIN", "Document", FormMethod.Post, new { id = "CreateTIN", enctype = "multipart/form-data" }))
{
    <div class="col-lg-12">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.DealerCode)
        @Html.HiddenFor(model => model.IsCreationApproved)
        @Html.HiddenFor(model => model.CreationApprovedBy)
        @Html.HiddenFor(model => model.CreationApprovedDate)
        @Html.HiddenFor(model => model.IsTheDealerBlocked)
        @Html.HiddenFor(model => model.IsTemporaryOpen)
        @Html.HiddenFor(model => model.TempOpenDate)
        @Html.HiddenFor(model => model.TempExpireDate)
        @Html.HiddenFor(model => model.AddedBy)
        @Html.HiddenFor(model => model.AddedDate)
        @Html.HiddenFor(model => model.UpdatedBy)
        @Html.HiddenFor(model => model.UpdatedDate)
        @Html.HiddenFor(model => model.UpdateName)
        
        
        

        @Html.HiddenFor(model=>model.TaxIdentityModel.Id)
        @Html.HiddenFor(model => model.TaxIdentityModel.CheckListId)
        @Html.HiddenFor(model => model.TaxIdentityModel.AddedBy)
        @Html.HiddenFor(model => model.TaxIdentityModel.AddedDate)
        @Html.HiddenFor(model => model.TaxIdentityModel.UpdatedBy)
        @Html.HiddenFor(model => model.TaxIdentityModel.UpdatedDate)

        <div class="form-group row">
            <label class="col-lg-3 col-form-label text-sm-right">TIN<i class="fas fa-asterisk" style="color: red"></i></label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.TaxIdentityModel.TIN_No, null, new { @class = "form-control", @type = "number", @required="required" })
                @Html.ValidationMessageFor(model => model.TaxIdentityModel.TIN_No, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label text-sm-right">Name<i class="fas fa-asterisk" style="color: red"></i></label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.TaxIdentityModel.TaxPayerName, new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.TaxIdentityModel.TaxPayerName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label text-sm-right">Tax ircle<i class="fas fa-asterisk" style="color: red"></i></label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.TaxIdentityModel.TaxCircle, null, new { @class = "form-control", @required = "required" })
@Html.ValidationMessageFor(model => model.TaxIdentityModel.TaxCircle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 col-form-label text-sm-right">Tax Zone<i class="fas fa-asterisk" style="color: red"></i></label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.TaxIdentityModel.TaxZone, null, new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.TaxIdentityModel.TaxZone, "", new { @class = "text-danger" })
            </div>
        </div>
        
        @if (Model != null && !Model.IsApprover)
        {
            <div class="form-group row">
            <label class="col-lg-3 col-form-label text-sm-right"></label>
            <div class="col-lg-6 text-right">
                <button type="submit" id="btnTinSave" class="btn btn-outline-success"><i class="fas fa-save"></i>&nbsp;Save</button>
            </div>
        </div>
        }

        
    
    </div>
    
    <script type="text/javascript">
        $(".ddPicker").datepicker({ dateFormat: 'mm-dd-yy', changeMonth: true, changeYear: true, yearRange: "-100:+00" })
            .on('keypress paste', function (e) {
                e.preventDefault();
                return false;
            });
    </script>
}
